<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#
	_m_ClassNameField = "StateMachine";
	_m_StateNamesField = new string[]
    {
		"Alpha",
		"Beta",
		"Gamma"
    };
	_m_TransitionTypesField = new string[]
    {
		"Next",
		"Previous"
    };
#>
<#@ include file="$(ProjectDir)StateMachineGenerator.tt"#>