<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#
	_m_ClassNameField = "StateMachine";
	_m_StateNamesField = new string[]
    {
		"Alpha",
		"Beta",
		"Gamma"
    };
	_m_StartingStateIndexField = 0;
	_m_TransitionTypesField = new string[]
    {
		"Next",
		"Previous"
    };
	_m_NamespaceField = "Starvoxel.Core";
#>
<#@ include file="$(ProjectDir)StateMachineGenerator.tt"#>